/* From https://fontlibrary.org/face/press-start-2p */
@font-face {
    font-family: 'PressStart2PRegular';
    src: url('PressStart2PRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
